.problem{
    background-color: aliceblue;
    margin: 20px;
}
.rate{
    background-color: aliceblue;
    margin: 20px;
}
.res{
    background-color: aqua;
    margin: 20px;
}
.speakedSentence{
    background-color: aliceblue;
    margin: 20px;
}

.time{
    background-color: aliceblue;
    margin: 20px;
}