
.main-scream-total{
    width: 100%;
    height: 84vh;
    background: #3c4043;
}

.main-screen-left{
    width: 80%;
    float: left;
    background: #3c4043;
}
.main-screen-right{
    width: 20%;
    float: right;
}
.wrapper{
    width: 100%;
    background-color: #3c4043;
}

.footer {
  height: 10vh;
}
