.wrapper{
    display: flex;
    flex-direction: column;
}

.main-scream-total{
    display: flex;
    height: calc(90vh - 70px);
}

.main-screen-left{
    width: 70%;
    background-color:tan;
}
.main-screen-right{
    width: 30%;
}

.footer {
    height: 10vh;
}

@media screen and (max-width:768px) {
    .main-scream-total{
        height: calc(90vh - 60px);
    }
}