@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #3c3c3c;
  
  :only-child {
    white-space: nowrap;
    padding: 10px;
  }

  * {
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    color: #F0F8FF;

  }
}

.logo {
  font-size: 30px;
  margin-left: 20px;  
  :only-child {
    text-decoration: none;
  }
}

.nav-items {
  display: flex;
  text-align: center;
  list-style: none;
  margin-right: 20px;
  // transition: all 3s ease;
  :hover {
    color: gold;
  }
}
.nav-item :only-child {
  text-decoration: none;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  nav {
    height: 50px;
    .logo {
      margin-left: 10px;
    }
    * {
      padding: 0;
      margin: 10px;
    }
  }
  .nav-items {
    display: none;
  }
}