.room {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  align-items: center;
  width: 90%;
  height: 90%;
  cursor: pointer;
  
  :hover {
    background: #dcdcdc;
  }
  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
    border-radius: 50px;
    overflow: hidden;
    .left-img {
      width: 100%;
      overflow: hidden;
    }
    .right-img{
      width: 90%;
      margin-bottom: 10%;
      :hover {
        width: 92%;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .room{
    flex-direction: column;
    width: 100%;
    margin: 0;
    
    div {
      margin: 0 0 20px 0;
    }
  }
}

